ul.heroes li {
    list-style:none;
    background-image:none;
    background-repeat:none;
    background-position:0; 
    padding-top: 3px;
    padding-bottom: 3px;
}
ul.heroes
{
    list-style-type:none;
    padding:0px;
    margin:0px;
}

ul.heroes li:hover{
    background-color:wheat;
}

.selected {
    background-color:wheat;
}